@{
    ViewBag.Title = "Pagina Principal";
}

<div class="jumbotron">
    <h1>APLICACIONES WEB.</h1>
    <p class="lead">Intranet corporativo para prueba del Departamento de Programación</p>
    <p>Tecnología Utilizada: Framework Asp.Net MVC 5 con EntityFramework.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Catalogo de Productos &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Usuarios</h2>
        <p>
            gestiona los usarios de la aplicacion web.
        </p>
        <p><a class="btn btn-default" href="\Users\Index">Usuarios &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Productos</h2>
        <p>Catalogo de productos.</p>
        <p><a class="btn btn-default" href="\Products\Index">Productos &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Clientes</h2>
        <p>Listado de Clientes.</p>
        <p><a class="btn btn-default" href="\Customers\index">Clientes &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vendedores</h2>
        <p>Maestro Vendedores</p>
        <p><a class="btn btn-default" href="\Vendedor\Index">Vendedores &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Transporte</h2>
        <p>Transportistas contratado y propio</p>
        <p><a class="btn btn-default" href="\Transport\Index">Transportistas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Facturacion</h2>
        <p>Modulo de Facturacion del Sistema</p>
        <p><a class="btn btn-default" href="\Facturacion\Index">Facturar a Clientes &raquo;</a></p>
    </div>
</div>